* {
  box-sizing: border-box;
}

body {
  color: #2b2c48;
  font-family: "poppins", Courier, monospace;
  background: url(./images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card_loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(
    45deg,
    rgba(187, 0, 255, 0.4),
    rgb(51, 0, 132, 0.4)
  );
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: loaderslide 0.4s linear forwards;
  -webkit-animation: loaderslide 0.4s linear forwards;
  animation-delay: 5s;
  -webkit-animation-delay: 5s;
  opacity: 1;
  transition: background 0.4s;
}
@keyframes loaderslide {
  to {
    opacity: 0;
    z-index: -1;
  }
}
.card_loader img {
  width: 25em;
  animation: Appare 0.6s linear forwards;
  -webkit-animation: Appare 0.6s linear forwards;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  opacity: 0;
}
@keyframes Appare {
  to {
    opacity: 1;
  }
}
.card_loader p {
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  font-family: "roboto" Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -1.5em;
  animation: Appare 0.6s linear forwards;
  -webkit-animation: Appare 0.6s linear forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  opacity: 0;
}

article {
  max-width: 45em;
  width: 90%;
  margin: auto;
  overflow-y: auto;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
  background: #fff;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  border-radius: 10px;
  box-shadow: 0 0 0 8px rgb(255, 255, 255, 0.2);
}
[data-testid="test-profile-card"] {
  height: 80vh;
  max-height: 460px;
}
/* Scrollbar styling */
article::-webkit-scrollbar {
  width: 8px;
}
article::-webkit-scrollbar-thumb {
  background: rgba(93, 0, 255, 0.2);
  border-radius: 4px;
}
article::-webkit-scrollbar-thumb:hover {
  background: rgba(93, 0, 255, 0.4);
}
article::-webkit-scrollbar-track {
  background: transparent;
}
article::-webkit-scrollbar-track:hover {
  background: transparent;
}

/* profile informations */
section [data-testid="test-user-profile-info"] {
  padding-top: 0;
}

section.card_header {
  position: relative;
  display: flex;
  height: 200px;
  flex-shrink: 0;
  width: 100%;
  transition: 0.3s;
}
section[data-testid="test-user-profile-header"] * {
  transition: 0.3s;
}
.card_header:hover .card_avatar_cover {
  top: -30%;
  filter: blur(40px);
  transform: scale(1.3);
}

.card_avatar_cover {
  width: 100%;
  height: 100%;
  position: absolute;
  height: 160px;
  top: -20%;
  will-change: top;
  background-size: cover;
  filter: blur(30px);
  transform: scale(1.2);
  transform: 0.5s;
}

.card_avatar {
  width: 100px;
  height: 100px;
  box-shadow: 0 8px 8px rgb(0, 0, 0, 0.2);
  border-radius: 50%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: linear-gradient(45deg, #bf00ff69, #5900ff69);
}

.card_fullname {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
  transform: translate(-50%, -10px);
}

.card_title {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 11px;
  white-space: nowrap;
  font-weight: 500;
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 0;
  transform: translate(-50%, -7px);
}

.card.is_active .card_header {
  height: 80px;
}
.card.is_active .card_cover {
  height: 100px;
  top: -50px;
}
.card.is_active .card_avatar {
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.card.is_active .card_fullname,
.card.is_active .card_title {
  left: 86px;
  transform: none;
}
.card.is_active .card_fullname {
  bottom: 18px;
  font-size: 10px;
}
.card.is_active .card_title {
  bottom: 16px;
  letter-spacing: 1px;
  font-size: 10px;
}

.card_main {
  position: relative;
  flex: 1;
  display: flex;
  padding-top: 10px;
  flex-direction: column;
}
.card_subtitle {
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 8px;
}

.card_content {
  padding: 20px;
}
.card_desc {
  line-height: 1.6;
  color: #636b6f;
  font-size: 14px;
  margin: 0;
}

nav.card_social {
  padding: 0 20px;
  margin-bottom: 30px;
}
nav.card_social ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
nav.card_social ul li {
  margin-right: 10px;
  display: inline-block;
  user-select: all;
}
nav.card_social ul li img {
  width: 16px;
  display: block;
  transition: 0.3s;
  opacity: 0.4;
}
nav.card_social ul li img[src="./images/linkedin.png"] {
  width: 30px;
}
nav.card_social ul li a {
  color: #8797a1;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: rgba(93, 133, 193, 0.05);
  margin-right: 10px;
}
nav.card_social ul li a:focus,
nav.card_social ul li a:hover {
  border: 1px solid #8a84ff;
}
nav.card_social ul li a:hover img {
  opacity: 0.7;
}

nav.card_social ul li a:last-child {
  margin-right: 0;
}

.card_section {
  display: none;
}

.card_section.is_active {
  display: block;
  -webkit-animation: fadein 0.6s both;
  animation: fadein 0.6s both;
}
@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
  }
}

.card_buttons {
  display: flex;
  background-color: #fff;
  margin-top: auto;
  position: sticky;
  bottom: 0;
  left: 0;
}

.card_buttons button {
  flex: 1 1 auto;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: 0;
  font-size: 13px;
  border: 0;
  padding: 15px 5px;
  cursor: pointer;
  color: #5e5e6d;
  transition: 0.3s;
  font-family: poppins, Courier, monospace;
  font-weight: 500;
  outline: 0;
  border-bottom: 3px solid transparent;
}
.card_buttons button.is_active,
.card_buttons button:hover,
.card_buttons button:focus {
  color: #2b2c48;
  border-bottom: 3px solid #8a84ff;
  background: linear-gradient(
    to bottom,
    rgba(127, 199, 231, 0) 0%,
    rgba(207, 204, 255, 0.2) 44%,
    rgba(211, 226, 255, 0.4) 100%
  );
}

/* Hobbies section display styling */
.card_content .card_hobby_list,
.card_content .card_dislike_list {
  list-style: none;
  z-index: 1;
}
.card_hobby_list li,
.card_dislike_list li {
  font-size: 11px;
  color: #2b2c48;
  position: relative;
  padding-left: 20%;
  padding-right: 20px;
  padding-bottom: 10px;
  position: relative;
  margin-top: 20px;
  height: 35px;
}
.card_hobby_list li::after,
.card_dislike_list li::after {
  background: linear-gradient(to top, rgb(134, 214, 243, 0) 0%, #516acc 100%);
  content: "";
  position: absolute;
  left: 41px;
  top: 0;
  width: 2px;
  height: 100%;
}

.card_hobby_list li::before,
.card_dislike_list li::before {
  content: "";
  width: 10px;
  position: absolute;
  top: -5px;
  left: 37px;
  width: 6px;
  height: 6px;
  line-height: 0.8;
  border: 2px solid #d8e0ff;
  font-size: 9px;
  border-radius: 50%;
  background: #516acc;
  z-index: 1;
}

.card[data-state="#hobbies"] {
  height: 500px;
}
.card[data-state="#dislikes"] {
  height: 500px;
}

/* Contact me page display and layouts */
.card_contact_wrapper {
  margin-top: 20px;
}
.card_contact {
  display: flex;
  alignment-baseline: center;
  font-size: 13px;
  color: #6e6e7b;
  line-height: 1.6;
  cursor: pointer;
}
.card_contact + .card_contact {
  margin-top: 16px;
}
.card_contact img {
  width: 2.5em;
  height: 1.5em;
  margin-right: 12px;
  transition: 0.3s;
  filter: invert(40%);
  padding-right: 12px;
  border-right: 1px solid #dfe2ee;
}
.contact_me {
  border: 0;
  outline: none;
  background: linear-gradient(
    to right,
    rgba(93, 200, 239, 0.8) 0%,
    rgba(81, 106, 204, 0.9) 100%
  );
  box-shadow: 0 4px 6px rgb(0, 0, 0, 0.15);
  color: #fff;
  padding: 12px 16px;
  width: 100%;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  margin-top: 25px;
  transition: 0.3s;
}

/* When classList "is_active" is triggered */
.card.is_active .card_header {
  height: 80px;
}
.card.is_active .card_cover {
  height: 100px;
  top: -50px;
}
.card.is_active .card_avatar {
  transform: none;
  left: 20px;
  width: 50px;
  height: 50px;
  bottom: 10px;
}

.card.is_active .card_fullname,
.card.is_active .card_title {
  left: 86px;
  transform: none;
  color: #fff;
}
.card.is_active .card_fullname {
  bottom: 18px;
  font-size: 19px;
}

.card.is_active .card_title {
  bottom: 16px;
  letter-spacing: 1px;
  font-size: 10px;
}

/* Device responsiveness layouts */

@media only screen and (min-width: 600px) {
  .card_avatar {
    width: 110px;
    height: 110px;
    left: 20%;
  }
  .card.is_active .card_avatar {
    top: 20px;
    left: 30px;
    width: 70px;
    height: 70px;
  }
  .card_fullname {
    right: 20%;
    top: 45%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
  }
  .card_title {
    right: 40%;
    bottom: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 12px;
  }
  .card.is_active .card_fullname {
    font-size: 22px;
    top: 10%;
    left: 30%;
  }
  .card.is_active .card_title {
    bottom: 5px;
    left: 40%;
  }

  .card_hobby_list li,
  .card_dislike_list li {
    font-size: 13px;
  }
}
@media only screen and (min-width: 920px) {
  .card_avatar {
    width: 120px;
    height: 120px;
    top: 100px;
  }

  .card_fullname {
    right: 30%;
    font-size: 26px;
  }
  .card_title {
    right: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    font-size: 13px;
  }
  .card.is_active .card_fullname {
    font-size: 22px;
    top: 10%;
    left: 20%;
  }
  .card.is_active .card_title {
    bottom: 5px;
    left: 28%;
  }

  .card_hobby_list li,
  .card_dislike_list li {
    font-size: 13px;
  }
}
